<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Measure Me
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
