h1 {
  text-align: center;
}

.measure-wrapper{
  display: flex;
  flex-flow: row;
  padding: 20px;
}

.data-wrapper {
  position: relative;
  width: 140px;
  padding-left: 25px;
}

.body-image {
  opacity: 0.5;
  height: 100%;
}

.body-image-wrapper {
  width: calc(100% - 140px);
  height: 100%;
  position: relative;
}

.measure-line {
  position: absolute;
  height: 6px;
  background: darkred;

  &::after {
    content: '';
    position: absolute;
    background: darkgray;
    height: 1px;
    left: 100%;
    top: 50%;
  }
}

.waist-line {
  top: 40.5%;
  left: 31%;
  width: 38.5%;

  &::after {
    width: 85px;
  }
}

.data {
  position: absolute;
}

.waist-data {
  top: 37%;
}