Data Received
<h1>Current Measurement</h1>
<div class="measure-wrapper">
    <div class="body-image-wrapper">
        <div class="measure-line waist-line"></div>
        <ion-img class="body-image" [src]="'assets/img/body.png'"></ion-img>
    </div>
    <div class="data-wrapper">
        <div class="data waist-data">
           Waist: <strong>{{ measurement.waist }} cm</strong>
        </div>
    </div>
</div>