<div  *ngIf="loading" class="center-wrapper">
  <div class="center-all">
    <ion-spinner></ion-spinner>
  </div>
</div>

<div *ngIf="!loading && devices.length == 0" class="center-wrapper">
  <div class="center-all">
    <ion-text color="danger">No devices available</ion-text>
  </div>
</div>

<ion-list *ngIf="!loading && devices.length > 0">
  <ion-item *ngFor="let device of devices" (click)="onSelectDevice(device)">
    <ion-label>{{ device.name }}</ion-label>
  </ion-item>
</ion-list>

<ion-button [disabled]="loading" (click)="discoverDevices()"><ion-icon name="refresh"> </ion-icon> Reload</ion-button>